<%- include('partials/_header.ejs') %>


	<body class="host_version">



		<!-- Start header -->
		<header class="top-navbar">
			<%- include('partials/_navbar.ejs') %>
		</header>
		<!-- End header -->

		<% if(!user) { %>
			<h1 class="w-5 h-5">you cant see this page. please be login</h1>
			<% } else { %>

				<% if(user.role==='student' ) { %>
					<div class="all-title-box">
						<div class="container text-center">
							<h1>
								<%= user.name %><span class="m_1">STUDENT</span>
							</h1>
						</div>
					</div>
					<div id="overviews" class="section wb">
						<div class="container">
							<div class="row">
								<div class="col-lg-12 blog-post-single">
									<div class="blog-author">
										<div class="author-bio">
											<h3 class="author_name"><a href="#"><%= user.name %> </a></h3>
											<h5><%= user.role %> </h5>
											<p class="author_det">
												Lorem ipsum dolor sit amet, consectetur adip, sed do eiusmod tempor
												incididunt ut aut reiciendise voluptat maiores alias consequaturs aut
												perferendis doloribus omnis saperet docendi nec, eos ea alii molestiae
												aliquand.
											</p>
										</div>
										<div class="author-desc">
											<img src="<%= user.image %> " alt="about author">
										</div>
									</div>
								</div><!-- end col -->
							</div><!-- end row -->
							<div class="row mt-5">
								<% user.courses.forEach(course => { %>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="course-item mb-5">
											<div class="image-blog">
												<img src="<%= course.image  %> " alt="" class="img-fluid">
											</div>
											<div class="course-br">
												<div class="course-title">
													<h2><a href="/courses/<%= course.slug %>" title=""><%= course.title  %> </a></h2>
												</div>
												<div class="course-desc">
													<% if (course.description.length > 100) { %>
														<p><%- course.description.substring(0,100) + " ..." %></p>
														
													<% } else if(course.description.length < 100) { %>
													<p><%- course.description %></p>
													<% } %> 
													<form action="/courses/relase" method="post">
														<input type="hidden" name="course_id" value="<%= course._id %>">
														<button class="btn btn-sm btn-danger text-white"><span>RELASE</span></button>
													</form>
													
												</div>
											</div>
										</div>
									</div><!-- end col -->
								 
								<% }) %>
							</div><!-- end row -->
						</div><!-- end container -->
					</div><!-- end section -->
					<% } %>


					<% if(user.role==='teacher' ) { %>
						<div class="all-title-box">
							<div class="container text-center">
								<h1>
									<%= user.name %><span class="m_1">TEACHER</span>
								</h1>
							</div>
						</div>
						<div id="overviews" class="section wb">
							<div class="container">
								<div class="row">
									<!-- Modal Button -->
									<div class="col-lg-12 text-center ">
										<button class="btn btn-lg btn-warning rounded-0 text-white" href="#"
											data-toggle="modal" data-target="#addCourse"><span>CREATE NEW
												COURSE</span></button>
									</div>
									<div class="col-lg-12 blog-post-single">
										<div class="blog-author">
											<div class="author-bio">
												<h3 class="author_name"><a href="#"><%= user.name %> </a></h3>
												<h5><%= user.role %> </h5>
												<p class="author_det">
													Lorem ipsum dolor sit amet, consectetur adip, sed do eiusmod tempor
													incididunt ut aut reiciendise voluptat maiores alias consequaturs aut
													perferendis doloribus omnis saperet docendi nec, eos ea alii molestiae
													aliquand.
												</p>
											</div>
											<div class="author-desc">
												<img src="<%= user.image %> " alt="about author">
											</div>
										</div>
									</div><!-- end col -->
								</div><!-- end row -->
								<% if (flashMessages) { %>
								 <% if (flashMessages.success) { %>
									<div class="alert alert-success"> <h3>Kurs başarılı bir şeklide silindi</h3><%= flashMessages.success %>  </div>
								 <% } %>
								 <% if (flashMessages.error) { %>
									<div class="alert alert-danger"><h3><%= flashMessages.error %></h3>  </div>
								 <% } %>
								 <% if (flashMessages.updateSuccess) { %>
									<div class="alert alert-success"> <h3>Kurs başarılı bir şeklide güncellendi</h3><%= flashMessages.updateSuccess %>  </div>
								 <% } %>
								<% } %>
											
								<div class="row mt-5">
									<% courses.forEach(course => { %>
										
										<div class="col-lg-6 col-md-6 col-12">
											<div class="course-item mb-5">
												<div class="image-blog">
													<img src="<%= course.image %> " alt="" class="img-fluid">
												</div>
												<div class="course-br">
													<div class="course-title">
														<h2><a href="/courses/<%= course.slug %>" title=""><%= course.title %> </a></h2>
													</div>
													<div class="course-desc">
														
														<label>Kursu İncele</label>
													
													</div>
													<div class="clearfix">
														<ul style="list-style-type: none;" >
															<a style="float: left;" class="btn btn-primary text-white rounded-0" data-toggle="modal" data-target="#updateCourse_<%= course._id %>"> <span>UPDATE</span> </a>
															<a href="/courses/<%= course.slug %>?_method=DELETE " onclick="return confirm('Kursu silmek istediğine emin misin ? \n <%= course.title %> ')" style="float: right;" class="btn btn-danger text-white rounded-0"> <span>DELETE</span> </a>
															
														</ul>
													</div>
													
												</div>
											</div>
										</div><!-- end col -->
<!-- ADD Modal -->
<div class="modal fade" id="updateCourse_<%= course._id %>" z-index="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body customer-box">
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="Login">
						<form method="POST" action="/courses/<%= course.slug %>?_method=PUT" class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" name="title" class="form-control"  value="<%= course.title %>">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input type="hidden" name="role" class="form-control"  value="<%= user.role %>">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<textarea rows="8" id="description" name="description" class="form-control"><%- course.description %></textarea>
								</div>
							</div>
							 
							<div class="form-group">
								<div class="col-sm-12">
									<select class="form-control" name="category">
										<% for (let i=0; i< categories.length; i++) { %>
										<option value="<%= categories[i]._id %>"><%= categories[i].title %></option>
										<% } %>	
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-light btn-radius btn-brd grd1">
										Submit
									</button>
									<button type="submit" class="btn btn-light btn-radius btn-brd grd1"
										data-dismiss="modal" aria-hidden="true">
										Cancel
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end Modal-->
									<% }) %>
								</div><!-- end row -->
							</div><!-- end container -->
						</div><!-- end section -->
						
								<!-- ADD Modal -->
						<div class="modal fade" id="addCourse" z-index="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-body customer-box">
										<!-- Tab panes -->
										<div class="tab-content">
											<div class="tab-pane active" id="Login">
												<form method="POST" action="/courses" class="form-horizontal">
													<div class="form-group">
														<div class="col-sm-12">
															<input type="text" name="title" class="form-control"  placeholder="Course Name">
														</div>
													</div>
													
													<div class="form-group">
														<div class="col-sm-12">
															<input type="hidden" name="role" class="form-control"  value="<%= user.role %>">
														</div>
													</div>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea rows="8" id="description" name="description" class="form-control"
															placeholder="Course Description" required></textarea>
														</div>
													</div>
													
													<div class="form-group">
														<div class="col-sm-12">
															<select class="form-control" name="category">
																<% for (let i=0; i< categories.length; i++) { %>
																<option value="<%= categories[i]._id %>"><%= categories[i].title %></option>
																<% } %>	
															</select>
														</div>
													</div>
													<div class="col-lg-12 col-md-12 col-sm-12">
														<input type="text" name="image" id="name" class="form-control" placeholder="Course image url">
													</div><br>
													<div class="row">
														<div class="col-sm-10">
															<button type="submit" class="btn btn-light btn-radius btn-brd grd1">
																Submit
															</button>
															<button type="submit" class="btn btn-light btn-radius btn-brd grd1"
																data-dismiss="modal" aria-hidden="true">
																Cancel
															</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				<% } %> <!-- Teacher end-->


				<% if(user.role==='admin' ) { %>
					<div class="all-title-box">
						<div class="container text-center">
							<h1>
								<%= user.name %><span class="m_1"><%= user.role %> </span>
							</h1>
						</div>
					</div>
					<div id="overviews" class="section wb">
						<div class="container">
							<div class="row">
								<div class="col-lg-12 blog-post-single">
									<div class="blog-author">
										<div class="author-bio">
											<h3 class="author_name"><a href="#"><%= user.name %> </a></h3>
											<h5><%= user.role %> </h5>
											<p class="author_det">
												Bu ekranda kullanıcıları ve kategorileri görüntüleyebilirsin. Kullanıcı ekleyebilirsin, Kullanıcı silebilirsin.
												Kategori ekleyebilir, Silebilir veya düzenleyebilirsin.
											</p>
										</div>
										<div class="author-desc">
											<img src="<%= user.image %> " alt="about author">
										</div>
									</div>
								</div><!-- end col -->
							</div><!-- end row -->
							<% if (flashMessages) { %>
								<% if (flashMessages.success) { %>
									
									 <%- flashMessages.success %>
								<% } %>
								<% if (flashMessages.error) { %>
								   <div class="alert alert-danger"><h3> Silme işleminde hata olutu</h3> <%= flashMessages.error %>  </div>
								<% } %>
								<% if (flashMessages.categoryAdded) { %>
								 		<%- flashMessages.categoryAdded %> 
								<% } %>
								
							   <% } %>
							<div class="row mt-5">
								<h2 style="margin-bottom: -100px; margin-left:10px">Kullanıcılar</h2> 
								<table class="table table-hover table-responsive-md ">
									<div style="margin-left: 93%;" class="float-right"><a  data-target="#addUser" data-toggle="modal" class="btn btn-success btn-md text-white rounded-2"> <span>EKLE</span> </a>
									<thead class="thead-dark">
									  <tr>
										<th scope="col">RESİM</th>
										<th scope="col">ID</th>
										<th scope="col">AD</th>
										<th scope="col">EMAIL</th>
										<th scope="col">ROL</th>
										<th scope="col">DÜZENLE</th>
										<th  scope="col">Sil</th>
									  </tr>
									</thead>
									<tbody>
										
										<% allUsers.forEach(user => { %>
											
											 
												<tr>
												  <td><img style="width: 2rem; height: 2rem;" src="<%= user.image %>" alt="" srcset=""> </td>
												  <td><%= user._id %></td>
												  <td ><%= user.name %> </td>
												  <td><%= user.email %> </td>
												  <td><%= user.role %> </td>
												  <td ><a  data-target="#editUser_<%= user._id %>" data-toggle="modal" class="btn btn-secondary btn-sm text-white rounded-0"> <span>DÜZENLE</span> </a></td>
												  <% if (currentUser == user._id) { %>
												  <td><a onclick="return confirm('Kendini Silemezsin ! <%= user.name %> ')"  class="btn btn-danger btn-sm text-white rounded-0"> <span>Sil</span> </a></td>
												  <% } else { %>
													<td><a href="/users/delete/<%= user._id %>?_method=DELETE" onclick="return confirm('Üyeyi silmek istediğine emin misin ? \n <%= user.name %> ')"  class="btn btn-danger btn-sm text-white rounded-0"> <span>Sil</span> </a></td>
													<% } %> 
												  
												</tr>
	<!-- Edit user Modal-->	
	<div class="modal fade" id="editUser_<%= user._id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body customer-box">
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" >
							<form method="POST" action="/users/update/<%= user._id %>?_method=PUT" class="form-horizontal">
								<div class="form-group">
									<div class="col-sm-12">
										AD SOYAD
										<input type="text" name="name" class="form-control"  value="<%= user.name %> ">
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-sm-12">
										EMAİL
										<textarea rows="8" id="email" name="email" class="form-control" ><%= user.email %></textarea>
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-sm-12">
										ROL
										<select class="form-control" name="role">
											<option value="student">Student</option>
											<option value="teacher">Teacher</option>
											<option value="admin">Admin</option>
										</select>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									KULLANICI RESİM ADRESİ
									<input type="text" name="image" id="image" class="form-control" value="<%= user.image %> ">
								</div><br>
								<div class="row">
									<div class="col-sm-10">
										<button type="submit" class="btn btn-light btn-radius btn-brd grd1">
											KAYDET
										</button>
										<button type="submit" class="btn btn-light btn-radius btn-brd grd1"
											data-dismiss="modal" aria-hidden="true">
											İPTAL
										</button>
									</div>
								</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end modal -->								 
										<% }) %>
									  
									</tbody>
								  </table>
							</div><!-- end row -->
							<div class="row mt-5">
								<h2 style="margin-bottom: -100px; margin-left:10px">Kategoriler</h2> 
							
							<table class="table table-hover table-responsive-md ">
								<div style="margin-left: 93%;" class="float-right"><a  data-target="#addCategory" data-toggle="modal" class="btn btn-success btn-md text-white rounded-2"> <span>EKLE</span> </a>
									<thead class="thead-dark">
									  <tr>
										<th scope="col">ID</th>
										<th scope="col">KATEGORİ ADI</th>
										<th scope="col">KURS SAYISI</th>
										<th  scope="col">DÜZENLE</th>
										<th scope="col">SİL</th>
									  </tr>
									</thead>
									<tbody>
										<% categories.forEach(category => { %>
											<tr>
											  <td><%= category._id %></td>
											  <td ><%= category.title %> </td>
											  <td ><%= category.totalCourse.length %> </td>
											  <td><a  data-target="#editCategory_<%= category._id %>" data-toggle="modal" class="btn btn-secondary btn-sm text-white rounded-0"> <span>DÜZENLE</span> </a></td>
											  <td><a href="/categories/delete/<%= category._id %>?_method=DELETE" onclick="return confirm('Kategoriyi silmek istediğine emin misin ? \n <%= category.title %> ')" class="btn btn-danger btn-sm text-white rounded-0"> <span>SİL</span> </a></td>
											</tr>
										 <!-- Edit Category Modal-->
										 <div class="modal fade" id="editCategory_<%= category._id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body customer-box">
														<!-- Tab panes -->
														<div class="tab-content">
															<div class="tab-pane active" >
																<form method="POST" action="/categories/update/<%= category._id %>?_method=PUT" class="form-horizontal">
																	<div class="form-group">
																		<div class="col-sm-12">
																			<input type="text" name="title" class="form-control" value="<%= category.title %> " placeholder="Kategori adı">
																		</div>
																	</div>
																	<div class="row">
																		<div class="col-sm-10">
																			<button type="submit" class="btn btn-light btn-radius btn-brd grd1">
																				Submit
																			</button>
																			<button type="submit" class="btn btn-light btn-radius btn-brd grd1"
																				data-dismiss="modal" aria-hidden="true">
																				Cancel
																			</button>
																		</div>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- end modal -->
										<% }) %>
									  
									</tbody>
								  </table>
							</div><!-- end row -->
						</div><!-- end container -->
					</div><!-- end section -->
							<!-- ADD Modal -->
							<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-body customer-box">
											<!-- Tab panes -->
											<div class="tab-content">
												<div class="tab-pane active" >
													<form method="POST" action="/categories" class="form-horizontal">
														<div class="form-group">
															<div class="col-sm-12">
																<input type="text" name="title" class="form-control"  placeholder="Kategori adı">
															</div>
														</div>
														<div class="row">
															<div class="col-sm-10">
																<button type="submit" class="btn btn-light btn-radius btn-brd grd1">
																	Submit
																</button>
																<button type="submit" class="btn btn-light btn-radius btn-brd grd1"
																	data-dismiss="modal" aria-hidden="true">
																	Cancel
																</button>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> <!-- end modal -->
<!-- Add user Modal-->
<div class="modal fade" id="addUser" z-index="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body customer-box">
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="create">
						<form method="POST" action="/users/signup" class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-12">
									AD SOYAD
									<input type="text" name="name" class="form-control"  placeholder="Ad Soyad">
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-sm-12">
									ŞİFRE
									<input type="password" name="password" class="form-control"  placeholder="Şifre"">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									EMAİL
									<textarea rows="8" id="email" name="email" class="form-control"
									placeholder="Email"></textarea>
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-sm-12">
									ROL
									<select class="form-control" name="role">
										<option value="student">Student</option>
										<option value="teacher">Teacher</option>
										<option value="admin">Admin</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12">
								KULLANICI RESİM ADRESİ
								<input type="text" name="image" id="image" class="form-control" placeholder="Kullanıcı resim adresi">
							</div><br>
							<div class="row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-light btn-radius btn-brd grd1">
										KAYDET
									</button>
									<button type="submit" class="btn btn-light btn-radius btn-brd grd1"
										data-dismiss="modal" aria-hidden="true">
										İPTAL
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- add User Modal end-->
					<% } %> <!-- Admin end-->
<% } %> <!-- Page end-->
									<footer class="footer">
										<%- include('partials/_footer.ejs') %>
									</footer><!-- end footer -->

									<div class="copyrights">
										<div class="container">
											<div class="footer-distributed">
												<div class="footer-center">
													<p class="footer-company-name">All Rights Reserved. &copy; 2018 <a
															href="#">SmartEDU</a> Design By : <a
															href="https://html.design/">html design</a></p>
												</div>
											</div>
										</div><!-- end container -->
									</div><!-- end copyrights -->

									<a href="#" id="scroll-to-top" class="dmtop global-radius"><i
											class="fa fa-angle-up"></i></a>

									<!-- ALL JS FILES -->
									<script src="/js/all.js"></script>
									<!-- ALL PLUGINS -->
									<script src="/js/custom.js"></script>
									<script>
										CKEDITOR.replace( 'description' );
								</script>

	</body>

	</html>